body {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

canvas {
    background-color: #111;
    border: 2px solid #fff;
    display: none; /* Initially hidden */
}

#startScreen {
    padding: 20px;
    border: 2px solid #fff;
    display: inline-block;
}

#difficultySelection label {
    margin: 0 10px;
}

#startButton, #resetButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
}
